* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/background.jpg);
  background-size: fill;
}

.container {
  text-align: center;
  width: 50%;
  margin-top: 10vh;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  color: #fff;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}

.well {
  background-color: #333;
  border-radius: 10px;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

form h2 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
}

form input {
  padding: 5px 10px;
  border-radius: 10px;
  color: #000;
  text-align: center;
}

form button, form input {
  margin-top: 10px;
  width: 70%;
}

/* Output Div Styling */
/* #outputDiv {
  display: none;
} */

#output {
  font-size: 20px;
}

/* Footer */
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  background-color: #111;
  color: #fff;
}

#secret {
  display: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/secret.jpg");
  background-size: fill;
  color: #fff;
  text-align: center;
}

#secret h1 {
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 1160px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    margin-top: 5vh;
  }
}
@media screen and (max-width: 570px) {
  h1 {
    margin: 0 0 10px 0;
  }
  .container {
    margin-top: 4vh;
  }
  form {
    width: 80%;
  }
  #secret h1 {
    padding-top: 40px;
  }
}
@media screen and (max-width: 390px) {
  h1 {
    margin: 10px 0;
  }
  form {
    width: 100%;
  }
  .container {
    margin-top: 4vh;
  }
}